@font-face {
	font-family: "Compact Bold";
	src: url("assets/fonts/compact-bold/compact-bold.eot"); /* IE9 Compat Modes */
	src: url("assets/fonts/compact-bold/compact-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("assets/fonts/compact-bold/compact-bold.otf") format("opentype"), /* Open Type Font */
		url("assets/fonts/compact-bold/compact-bold.svg") format("svg"), /* Legacy iOS */
		url("assets/fonts/compact-bold/compact-bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("assets/fonts/compact-bold/compact-bold.woff") format("woff"), /* Modern Browsers */
		url("assets/fonts/compact-bold/compact-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper textarea{
  width: 200px;
}

.output, .inputLeft {
	display: flex;
	flex-direction: column;
}

.input {
	display: flex;
	gap: 10px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

button {
	font-size: 10px;
	margin: auto 0;
}